.title{
    font-size: 36px;
    text-align: center;
    border:  1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form {
    text-align: center;
    color: darkcyan;
}

.text {
    text-align: center;
    border:  1px;
    font-size: 18px;
}
.backButton {
    margin-right: 20px;
}

  