<div class="row">
    <div class="col-md-6 col-sm-12 col-sm-12">
        <div class="screenshot-holder">
            <a href="assets/images/demo/appify-dashboard-1.jpg">
                <img class="img-fluid" src="{{section.json_content}}" alt="screenshot"></a>
        </div> 
    </div>
     <div class="col-md-6 col-sm-12 col-sm-12">
        <div class="screenshot-holder">
            <a href="assets/images/demo/appify-dashboard-2.jpg" >
                <img class="img-fluid" src="{{section.json_content}}" alt="screenshot"></a>
        </div> 
    </div>
</div>