<div class="page-wrapper">
    <!-- ******Header****** -->
    <app-header></app-header>

    <div class="doc-wrapper">

        <div class="container">

            <div class="doc-body row">
                <div class="doc-sidebar col-md-4 col-12 order-0 d-none d-md-flex ">
                    <app-sidenav></app-sidenav>
                </div>
                <div class="doc-content col-md-8 col-12 order-1">
                    <router-outlet></router-outlet>
                </div>
                <!--//doc-content-->

            </div>
            <!--//doc-sidebar-->
        </div>
        <!--//doc-body-->
    </div>
    <!--//container-->
</div>
<!--//doc-wrapper-->



<footer id="footer" class="footer text-center">
    <div class="container">
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a
                href="https://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a> for developers</small>

    </div>
    <!--//container-->
</footer>
<!--//footer-->